.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
}
  

.modal-main {
    position:fixed;
    background: white;
    width: 60%;
    min-height: 40%;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
    
}

.modal-circle-close{
  float: right;
    /* border: 1px solid #b82312; */
    width: 20px;
    height: 20px;
    background-color: #ffffff00;
    color: #b82312;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: -7px;
    transform: rotateY(0deg) rotate(45deg);
}



.modal-header{
    font-weight: 700;
    height: 20px;
    margin: 2%;
}

.modal-body{
    float: left;
    text-align: start;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 10px;
}
  
.display-block {
    display: block;
}
  
.display-none {
    display: none;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }